extends base

block content
    div.edit-profile-body
        if errorMessage
            span=errorMessage
        div.edit-profile-part
            img(src=loggedInUser.avatarUrl crossorigin)
            form(method="POST" enctype="multipart/form-data").edit-profile-form
                label 프로필 
                input(type="file" id="avatar" name="avatar" accept="image/*")
                input(placeholder="Name" name="name"  required type="text" value=loggedInUser.name)
                input(placeholder="Email" name="email"  required type="email" value=loggedInUser.email)
                input(placeholder="Username" name="username"  required type="text" value=loggedInUser.username)
                input(placeholder="Location" name="location" required type="text" value=loggedInUser.location)
                input(type="submit", value="Edit profile")
                if !(loggedInUser.socialOnly)
                    hr
                    a(href="change-password") Change Password &rarr;